<!doctype html>
<html lang="jp">
<head>
  <meta charset="UTF-8"/>
  <title>TV-kko</title>
  <link href="./stylesheets/app.css" rel="stylesheet" type="text/css" />
  <link href="./stylesheets/animation.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <!-- App -->
  <div id="app">
    <!-- Container -->
    <div class="container">
      <!-- Header -->
      <header class="header">
        <div class="logo">
          <div class="tvkko-svg"></div>
          <h2 class="heading">TV-kko</h2>
          <span class="icon icon-switch" @click="toggleMenuDisplay()" />
        </div>
      </header>

      <!-- Nav -->
      <nav class="menu">
        <ul class="list-group">
          <li class="list-group-header">
            <input class="form-control form-search" type="text" placeholder="タレント登録" v-model="query">
            <button class="pull-right search-button" @click="fetchImage()">
              <span class="icon icon-user"></span>
              追加
            </button>
          </li>
          <div class="image--loading" style="display: none;">
            <div></div>
            <div></div>
          </div>
          <template v-if="query">
            <ul class="list-scroll" transition="staggered" stagger="10">
              <li v-for="cast in casts | filterBy query" class="list-group-item" @click="setInput(cast.name), fetchImage()">
                {{ cast.name }}
              </li>
            </ul>
          </template>
        </ul>
        <ul class="list-group list-scroll">
          <template v-if="!query">
            <li id="cAll"
              class="list-group-item"
              :class="-1 == activeIndex ? 'active' : ''"
              @click="addActiveClass(-1, ''), fetchProgramList()">
              <img class="img-circle media-object pull-left" src="../assets/img/no_name.png" width="48" height="48" />
              <div class="media-body">
                <strong>すべて</strong>
              </div>
            </li>
            <li v-for="myCast in myCasts"
              id="c{{$index}}"
              class="list-group-item"
              :class="$index == activeIndex ? 'active' : ''"
              @click="addActiveClass($index, myCast.name), fetchProgramList()">
              <img class="img-circle media-object pull-left" :src="myCast.imgPath" width="48" height="48" />
              <div class="media-body">
                <strong>{{ myCast.name }}</strong>
                <span class="pull-right icon icon-cancel-circled" @click="setName(myCast.name), removeMyCast();"></span>
              </div>
            </li>
          </template>
        </ul>
          <ul class="list-group">
            <li class="list-group-header list-cog">
              <template v-if="!query">
                <button id="show-modal" @click="showModal=true"
                  <span class="icon icon-cog" />
                </button>
              </template>
            </li>
          </ul>
      </nav>

      <!-- Content -->
      <div class="content">
        <div class="content--loading" style="display: none;">
          <div></div>
          <div></div>
        </div>
        <div class="program-list">
          <template v-if="renderable === true">
            <div class="program" v-for="program in programs">
              <div class="program-info">
                <span class="icon icon-calendar">{{ program.date }}</span>
                <h3 class="program-title">{{ program.title }}</h3>
                <span class="program-channel">{{ program.channel }}</span>
                <a :href="program.url" target="_blank">
                  <button class="detail detail-button">
                    <span class="icon icon-level-down">詳細</span>
                  </button>
                </a>
                <span>
                  <img v-for="imgPath in program.imgPaths" class="img-circle media-object pull-left" width="32" height="32" :src="imgPath ? imgPath : ''">
                </span>
              </div>
            </div>
          </template>
        </div>
      </div>

      <!-- Modal -->
      <modal :show.sync="showModal">
          <h3 slot="header">設定</h3>
          <div slot="body">
            <ul class="list-group modal-list-cog">
              <li>
                <label>地域</label>
              </li>
              <li>
                <select v-model="myArea" class="form-control" @change="setLocalStorage()">
                  <option v-for="prefecture in prefectures" :value="prefecture.value">
                    {{ prefecture.name }}
                  </option>
                </select>
              </li>
            </ul>
            <ul class="list-group modal-list-cog">
              <li>
                <label>放送波</label>
              </li>
              <li>
                <input type="radio" name="stationPlatformIds" value="1" v-model="myPlatformId" @change="setLocalStorage()">
                  地上波
                </input>
              </li>
              <li>
                <input type="radio" name="stationPlatformIds" value="2" v-model="myPlatformId" @change="setLocalStorage()">
                  BSデジタル
                </input>
              </li>
              <li>
                <input type="radio" name="stationPlatformIds" value="5" v-model="myPlatformId" @change="setLocalStorage()">
                  スカパー！
                </input>
              </li>
              <li>
                <input type="radio" name="stationPlatformIds" value="4" v-model="myPlatformId" @change="setLocalStorage()">
                  スカパー！プレミアサービス
                </input>
              </li>
            </ul>
            <ul class="list-group modal-list-cog">
              <li>
                <label>自動検索(定時)</label>
              </li>
              <li>
                <input type="checkbox" name="autoCheck" value="true" v-model="autoCheck" @change="setLocalStorage(), setTimer()" />
                自動検索を行う
              </li>
              <li>
                <select class="form-control" :disabled="autoCheck ? false : 'disabled'" v-model="autoCheckTime" @change="setLocalStorage(), setTimer()">
                  <option :value="i + 1" v-for="i in 24">
                    {{ i + 1 }}:00
                  </option>
                </select>
              </li>
            </ul>
          </div>
        </modal>
    </div>
  </div>

  <!-- Modal-template -->
  <script type="x/template" id="modal-template">
    <div class="modal-mask" v-show="show" transition="modal">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <button class="modal-close-button" @click="show=false">
              閉じる
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script src="./app.js"></script>
</body>

</html>